<footer class="full-footer-container wrapper">
  <div class="container padding-top border-top">
    <nav class="footer">
      <span><%= link_to "Yes, Listen To This", root_url, class: "nav-links" %></span>
      <ul>
        <li><%= link_to "Blog", posts_path, class: "nav-links" %></li>
        <li><%= link_to "Updates", updates_path, class: "nav-links" %></li>
        <li><%= link_to "FAQ", faq_path, class: "nav-links" %></li>
        <li><%= link_to "Terms", terms_path, class: "nav-links" %></li>
        <li><%= link_to "Privacy", privacy_path, class: "nav-links" %></li>
        <li><%= link_to "About", about_path, class: "nav-links" %></li>
      </ul>
    </nav>
    <div class="footer-disclaimer">
      Built in Buffalo, New York, United States of America, Earth.
    </div>
  </div>
</footer>