<div class="header-container">
  <div class="padding-horizontal">
    <nav class="nav padding-vertical border-bottom">
      <div class="padding-bottom">
        <%= link_to 'Yes, Listen To This', root_url, class: 'site-title' %>
      </div>
      <ul class="center">
        <li><%= link_to 'Past Winners', videos_path, class: "nav-links" %></li> | 
        <% if user_signed_in? %>
          <li><%= link_to 'Add Video', new_video_path, class: "nav-links" %></li>
           | <li><%= link_to 'Your Page', user_path(current_user), class: "nav-links" %></li>
           | <li><%= link_to 'Sign out', sign_out_path, class: "nav-links" %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path, class: "nav-links" %></li>
           | <li><%= link_to 'Register', new_user_registration_path, class: "nav-links" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>