<%= provide(:title, sanitize(@video.title)) %>

<div class="wrapper">
  <div class="container">
    <div class="mid-container">

      <video class="video-player border-bottom" width="100%" height="auto" controls controlslist="nodownload">
        <source src="<%= @video.video_url %>">
        Your browser does not support this video.
      </video>

      <div class="padding-vertical border-bottom">
        advertisement
      </div>

      <div class="flex padding-top">
        <div class="two-column video-title">
          <%= @video.title %>
        </div>

        <div class="two-column video-title right">
          <%= pluralize(@video.votes.count, "Vote") %>
          <% if user_signed_in? && current_user.voted?(@video) %>
            <%= link_to "-", video_vote_path(@video, current_user.vote_id(@video)), method: :delete %>
          <% elsif user_signed_in? %>
            <%= link_to "+", video_votes_path(@video), :method => :post %>
          <% else %>
            <%= link_to(sign_in_path) do %>
              +
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="padding-top">
        Start Date - 4,378 Views
      </div>

      <div class="padding-top">
        Amazon and share buttons
      </div>

      <div class="padding-top">
        <%= sanitize(@video.description) %>
      </div>

    </div>
  </div>
</div>